body {
  background-image: url(../img/background.jpg);
  background: cover;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 360px) {
  body {
    background-image: url(../img/mobilebackground.jpg);
    background: cover;
    height: 100%;
    overflow: hidden;
  }
}